@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Dashboard";
}
@*@Html.Raw(TempData["ErrorMessage"])*@
<h3>Welcome to Student page</h3>
<hr />
<div class="container col-md-4">
    <form method="get" action="@Url.Action("GetStudentResult", "StudentResult")">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label for="rollNo">Roll Number:</label>
            <input type="text" class="form-control" id="rollNo" name="rollNo" required>
        </div>
        @*<div class="form-group">
            <label for="class">Class:</label>
            <select class="form-control" id="class" name="class" required>
                <option value="">Select Class</option>
                <option value="Class 1">Class 1</option>
                <option value="Class 2">Class 2</option>
                <option value="Class 3">Class 3</option>
                <!-- Add more options for other classes as needed -->
            </select>
        </div>*@
        <br />
        <button type="submit" class="btn btn-primary">Check Result</button>
    </form>
@*
    @if (Model.Result != null)
    {
        <h3>Result Details:</h3>
        <p>Roll Number: @Model.Result.RollNo</p>
        <p>Class: @Model.Result.Class</p>
        <p>Marks: @Model.Result.Marks</p>
        <p>Grade: @Model.Result.Grade</p>
    }*@
</div>
