<!DOCTYPE html>
<html>
<head>
    <style>

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            width: 60%;
            height: 50%;
            background-color: #F5F5DC;
            padding: 20px;
            border-radius: 5px;
            margin-left:20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .card-title {
            font-size: 24px;
            font-weight: bold;
            color: Black;
            margin-bottom: 10px;
            text-align: center;
        }

        .sub-card-1,
        .sub-card-2 {
            width: 90%;
            background-color: white;
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .sub-card-2 {
            background-color: white;
        }

        .disclaimer {
            margin-top: 20px;
            font-style: italic;
            color: gray;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-title">Student Details</div>
        <div class="sub-card-1">
            <table class="table">
                <tr>
                    <th>Roll No:</th>
                    <td>@Model.RollNo</td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td>@Model.StudentName</td>
                </tr>
                <tr>
                    <th>DOB:</th>
                    <td>@Model.DOB.ToShortDateString()</td>
                </tr>
                <tr>
                    <th>Gender:</th>
                    <td>@Model.Gender</td>
                </tr>
                <tr>
                    <th>Class:</th>
                    <td>@Model.Class</td>
                </tr>
            </table>
        </div>
        <div class="sub-card-2">
          
            @if (Model.HasResult)
            {
                <div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>Subject</th>
                                <th>Total Marks</th>
                                <th>Obtained Marks</th>
                            </tr>
                            <tr>
                                <td>Maths</td>
                                <td>100</td>
                                <td>@Model.Maths</td>
                            </tr>
                            <tr>
                                <td>English</td>
                                <td>100</td>
                                <td>@Model.English</td>
                            </tr>
                            <tr>
                                <td>Science</td>
                                <td>100</td>
                                <td>@Model.Science</td>
                            </tr>
                            <tr>
                                <td>History</td>
                                <td>100</td>
                                <td>@Model.History</td>
                            </tr>
                            <tr>
                                <th>Total Marks:</th>
                                <td></td>
                                <th>@Model.Marks Out of 400</th>
                            </tr>
                            <tr>
                                <th>Percentage:</th>
                                <td></td>
                                <th>@Model.Percentage%</th>
                            </tr>
                            <tr>
                                <th>Decision:</th>
                                <td></td>
                                <th>@Model.Decision</th>
                            </tr>
                        </table>
                        <div class="disclaimer">
                            <p>
                                <strong>Disclaimer:</strong> The results published on portal are immediate information for student.
                                This can not be treated as original mark sheet untill Signed Or Stamped By School Office.  </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card mt-4">
                    <div class="card-header">
                        <h2>No result found</h2>
                    </div>
                    <div class="card-body">
                        <p>No result found for this student.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
